# OBIDSS Environment Configuration Template
SOURCE_DB_URL=postgresql://openpg:openpgpwd@localhost:5432/Business_Intelegent_Project_v2
TARGET_DB_URL=postgresql://openpg:openpgpwd@localhost:5432/Business_Intelegent_Project_v2_fresh_clone
TARGET_SCHEMA=mart
ETL_BATCH_SIZE=5000
ODOO_URL=http://localhost:8070
ODOO_DB=Business_Intelegent_Project_v2_fresh_clone
ODOO_USER=admin
ODOO_PASSWORD=admin
